.section{
    display: flex;
    border: 1px solid black;
    justify-content: center;
    padding-top: 5rem;
}

.card{
    max-width: 600px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 5;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.31);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    height: 200vh;
}